main

.idea

#lambda_deps_layer
lambda_dependencies_layer/node_modules
lambda_dependencies_layer/src/nodejs/node_modules
lambda_dependencies_layer/.DS_Store
lambda_dependencies_layer/.serverless

acid-client

acid-client/node_modules
acid-client/build
acid-client/.DS_Store
acid-client/npm-debug.log*
acid-client/.env

client

client/node_modules
client/build
client/.DS_Store
client/npm-debug.log*
client/.env

server

server/node_modules
server/dist
server/.serverless
server/.env

auto-arguments-new

auto-arguments-new/node_modules
auto-arguments-new/dist
auto-arguments-new/.serverless
auto-arguments-new/.env

#root
**/.DS_Store
**/.vscode

static

static/node_modules
static/.serverless

spotifycharts-loader

spotifycharts-loader/node_modules
spotifycharts-loader/.serverless

notifications

notifications/node_modules
notifications/dist
notifications/.DS_Store
notifications/.serverless

bg_jobs

background_jobs/vendor
background_jobs/Gemfile.lock

#rds
rds/.serverless

#admin
admin/.serverless
admin/node_modules
admin/dist
admin/.DS_Store

#cypresstest
e2e/node_modules
e2e/.env
e2e/cypress/screenshots
e2e/cypress/videos
e2e/build